@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
/* Color styles */
--text: hsla(330, 50%, 7.1%, 1);
--accent: hsla(326, 88%, 63.9%, 1);
--pink-100: hsla(334, 46.7%, 97.1%, 1);
--pink-600: hsla(326, 77.8%, 70%, 1);
--pink-750: hsla(326, 88%, 63.9%, 1);
--pink-900: hsla(326, 67.8%, 50%, 1);
--pink-200: hsla(333, 100%, 94.7%, 1);

/* Text-size styles */
--heading-1: 2.5rem;       /* 40px */
--subheading-1: 2.25rem;   /* 36px */
--body--medium: 1.5rem;    /* 24px */
--subtext: 1rem;           /* 16px */
}

body{
    width: 100vw;
    margin: 0;
    background-color: var(--pink-100);
}

h1,h2,h3,h4,p,a{
    font-family: "ITC Avant Garde Gothic";
    color: var(--text);
}

h1{
    font-size: var(--heading-1);
    font-weight: 700;
}

h2{
    font-size: var(--subheading-1);
}

.fancy-text{
    font-family: "Dancing Script",sans-serif;
    font-size: 4rem;
}

.wrapper{
    padding-inline: 5rem;
}

.avatar{
    display: block;
    border-radius: 50px;
}

a{
    text-decoration: none;
    font-size: var(--subheading-1);
    font-weight: 100 !important;
}